//
//  Config.xcconfig
//  RNAnalyticsSegmentIO
//
//  Copyright © 2017 LEO Pharma A/S. All rights reserved.
//

PODS_ROOT = ${SRCROOT}/../../../ios/Pods
PODS_BUILD_DIR = ${BUILD_DIR}
PODS_CONFIGURATION_BUILD_DIR = ${PODS_BUILD_DIR}/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)

FRAMEWORK_SEARCH_PATHS = $(inherited) "${PODS_ROOT}"/** "${PODS_CONFIGURATION_BUILD_DIR}"/** "${PODS_CONFIGURATION_BUILD_DIR}/Analytics"
HEADER_SEARCH_PATHS = $(inherited) "${PODS_ROOT}/Headers/Public"/**
USER_HEADER_SEARCH_PATHS = $(inherited) "${PODS_ROOT}"/**
LIBRARY_SEARCH_PATHS = $(inherited) "${PODS_CONFIGURATION_BUILD_DIR}"/**
