//
//  Config.xcconfig
//  RNAnalyticsSegmentIO
//
//  Copyright © 2017 LEO Pharma A/S. All rights reserved.
//

MAIN_SRCROOT = ${SRCROOT}/../../../ios
MAIN_PODS_ROOT = ${MAIN_SRCROOT}/Pods
MAIN_BUILD_DIR = ${MAIN_SRCROOT}/build
MAIN_TARGET_BUILD_DIR = ${MAIN_BUILD_DIR}/Build/Products/${CONFIGURATION}${EFFECTIVE_PLATFORM_NAME}
SEGMENT_HEADERS_PATH = ${MAIN_TARGET_BUILD_DIR}/Pods/Headers
SEGMENT_FRAMEWORKS_PATH = ${MAIN_TARGET_BUILD_DIR}/Pods/Frameworks

HEADER_SEARCH_PATHS = ${SEGMENT_HEADERS_PATH}/** ${MAIN_PODS_ROOT}/Headers/Public/**
FRAMEWORK_SEARCH_PATHS = ${MAIN_BUILD_DIR}/**
